@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using Umbraco.Cms.Web.Common.PublishedModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var content = (ContentModels.AboutInfoBlock)Model.Content;
    var imageMedia = content?.Image;
    var image = imageMedia != null ? imageMedia.Url() : "/img/team/Imgtina.png";
}
<section class="about-profile">
    <div class="about-profile__inner">
        <div class="about-profile__image">
            <img src="@image" alt="@content?.Title" />
            @if (!string.IsNullOrWhiteSpace(content?.PersonInfo))
            {
                <p class="about-profile__person">@content.PersonInfo</p>
            }
        </div>
        <div class="about-profile__text">
            <h2>@content?.Title</h2>
            <p>@content?.Description</p>
        </div>
    </div>
</section>
