@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>
@using Umbraco.Extensions

@{
    var content = Model.Content;

    var title = content.Value<string>("blockTitle");
    var text = content.Value<string>("blockText");
    var image = content.Value<IPublishedContent>("optionalImage");


    var imageUrl = image != null
        ? image.MediaUrl()
        : Url.Content("~/img/services/Imgriskhelp.png");
}

<div class="service-detail-block block">
    @if (imageUrl != null)
    {
        <div class="block-image">
            <img src="@imageUrl" alt="@title" />
        </div>
    }

    @if (!string.IsNullOrEmpty(title))
    {
        <h4>@title</h4>
    }

    @if (!string.IsNullOrEmpty(text))
    {
        <div class="block-text">
            @Html.Raw(text)
        </div>
    }
</div>
